:root {
    scroll-behavior: smooth;
}


body{
    height: 120vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='8000' preserveAspectRatio='none' viewBox='0 0 2000 8000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='2000' height='8000' x='0' y='0' fill='rgba(255%2c 175%2c 204%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c1972 C 133.4%2c1646.4 400.2%2c238.4 667%2c344 C 933.8%2c449.6 1067.4%2c2394.2 1334%2c2500 C 1600.6%2c2605.8 1866.8%2c1198.4 2000%2c873L2000 8000L0 8000z' fill='rgba(205%2c 180%2c 219%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c3556 C 80%2c3831.8 240%2c4976.4 400%2c4935 C 560%2c4893.6 640%2c3330.2 800%2c3349 C 960%2c3367.8 1040%2c4918.2 1200%2c5029 C 1360%2c5139.8 1440%2c3854.8 1600%2c3903 C 1760%2c3951.2 1920%2c4996.6 2000%2c5270L2000 8000L0 8000z' fill='rgba(255%2c 200%2c 221%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c6317 C 133.4%2c6639 400.2%2c7975.8 667%2c7927 C 933.8%2c7878.2 1067.4%2c6174.4 1334%2c6073 C 1600.6%2c5971.6 1866.8%2c7150.6 2000%2c7420L2000 8000L0 8000z' fill='rgba(189%2c 224%2c 254%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='2000' height='8000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playpen Sans', cursive;
    

}


#Logo {
    position:fixed;
    width: 100%;
    padding: 10px 80px;
    background-color: #ffe5d9;
    display: flex !important;
    justify-content: space-between;
    z-index: 1000;
    box-shadow:  20px 20px 60px #cf929c,
    -20px -20px 60px #ffc6d2;
    
    
}


.logo-name {
    display: flex;
    text-decoration: none !important;
    font-family: 'Playpen Sans', cursive;
    
} 




.logo-name h2 {
    margin-top: 10px;
    color: #9d8189;
}

.nav-menu {
    margin-top: 18px;
}

.nav-menu a {
    text-decoration: none;
    padding-left: 90px;
    font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    color: #9d8189;
    
}


.logo-gif {
    width: 90px;
    height: 60px;
    
    padding-left:  10px;
}

.conteiner_1 {
    margin-top: 20vh;
    position: absolute;
    text-align: center;
    left: 40vh;
}



.nav-list a:hover {
    color: #ff99c8;
  }

  .codess a {
    text-decoration: none;
    color: #9d8189;
    
  }

  .codess a:hover {
    color: #ffcad4;
  }

  img {
    padding-top: 5vh;
    padding-bottom: 5vh;

  }

